*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 20px;
}
@font-face {
	font-family: 'SPSLRussianSouvenir';
	src: url('../fonts/spslrussiansouvenir.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/spslrussiansouvenir.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/spslrussiansouvenir.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/spslrussiansouvenir.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/spslrussiansouvenir.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/spslrussiansouvenir.svg#spslrussiansouvenir') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'ofont.ru_A La Russ';
	src: url(../fonts/ofont.ru_A\ La\ Russ.ttf);
}

body {
	margin: 0;
	--color-text: #000000;
	--color-bg: #ff6f01;
	--color-link: #040231;
	--color-link-hover: #022739;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: 'SPSLRussianSouvenir','ofont.ru_A La Russ', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--cursor-stroke: #000000; 
	--cursor-fill: none; 
	--cursor-stroke-width: 1px; 
	line-height: 1;
	font-weight: 300;
	overflow: hidden;
	overflow-y: scroll;
}

.oh {
	overflow: hidden;
}

header{width: 100%;height: 8vw;position: relative;}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 3000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid rgb(244, 242, 242);
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
}

.unbutton:focus {
	outline: none;
}

main {
	padding: 3rem 2rem;
}

.cursor {
	display: none;
}

.frame {width: 80vw;
	position: relative;margin-top: -1rem;
}

.frame--footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 40vh;
}

.frame__title-wrap {
	width: 100%;
}

.frame__title {
	font-size: 1.3rem;
	margin: 0;
}

.frame__tagline {
	margin: 2rem 0 2.5rem;
	line-height: 1.2;
	max-width: 45ch;
}

nav{position:relative ;} nav ul{position:fixed ; top: 3%; left: 35%;}
nav ul li{width:100%;display:inline ;position: relative;  color:#000;padding:0 2rem;
	
}
.heading {
	font-family: kudryashev-d-excontrast-sans, sans-serif;
	font-weight: 300;
	font-size: 6vw;
	font-size: clamp(2rem, 6vw, 5rem);
	line-height: 1.1;
}

.heading .splitting .word, 
.heading .splitting .char {
	display: flex;
}

.char-wrap {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.char {
	display: inline-block;
	will-change: transform;
}



@font-face {
	font-family: 'ofont.ru_A La Russ';
	src: url(../fonts/ofont.ru_A\ La\ Russ.ttf);
}
@font-face {
	font-family: 'Forum-Regular';
	src: url(../fonts/Forum-Regular.ttf);
}


@font-face {
	font-family: 'ionicons';
	src: url(../css/font/ionicons.ttf);
}

.heading > span {
    display: flex;
}

.heading > span:first-child {
	font-size: 14vw;
 -webkit-text-stroke:0.41px rgb(249, 247, 243);
     text-shadow: 4.5px 3.5px 2px #024f62;
         color:#01262f;

		font-family: 'SPSLRussianSouvenir';

	font-size: clamp(2rem, 14vw, 9rem);
}
i{color:rgb(12, 10, 10); font-weight: 100;letter-spacing: 6px;}

.heading > span:nth-child(2) {
	margin-top: -2vw;
	text-transform: lowercase;	
	font-family: 'Forum-Regular';
         font-weight: 100;
        color:#f60000;
	font-size: 1.9vw;
}
.heading__title, h2{font-size: 5vw;
	font-family: 'ofont.ru_A La Russ';
color:rgb(214, 6, 6) ;
     text-shadow: 1.5px 1.5px  #1726394f;

text-align: center;}

.item {
	margin: 25vh 0 20vh ;
}

.item__imgwrap,
.content__imgwrap {
	overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
	min-height: 200px;
	will-change: transform;box-shadow:2rem 2rem 2px rgb(3, 30, 61);
}

.item__img,
.content__img {
	width: 100%;
	height: 100%;
	min-height: 200px;
	background-size: cover;
	background-position: 50% 50%;
	will-change: transform;
}

.item__meta {
	margin: 0.85rem 0 2rem;
	line-height: 1.3;
	font-size: 0.67rem;
	text-transform: uppercase;
	font-weight: 500;
	overflow: hidden;
}

.item__meta-row {
	display: block;
	position: relative;
	overflow: hidden;
}

.item__meta-row span {
	display: block;
	will-change: transform;
}

.item__enter {
	display: none;
	will-change: transform;
}

.item__enter-circle {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
	will-change: transform, opacity;
}

.item__excerpt {
	line-height: 1.2;
	will-change: transform;
         font-size: 1rem;
}

.item__excerpt-link {
	display: inline-block;
	position: relative;
	cursor: pointer;
	color: var(--color-text);
	font-weight: 500;
	line-height: 1;
	overflow: hidden;
}

.item__excerpt-link span {
	display: inline-block;
	padding-bottom: 10px;
	position: relative;
}

.item__excerpt-link span::after {
	content: '';
	width: 100%;
	height: 2px;
	top: calc(100% - 10px);
	position: absolute;
	left: 0;
	background: var(--color-text);
	transition: transform 0.2s;
	transform-origin: 100% 0;
}

.item__excerpt-link span:hover::after {
	transform: scale3d(0,1,1);
}

.content {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 120vh;
	z-index: 2000;
	pointer-events: none;   

}

.content .heading {
	margin-bottom: 5rem;
	font-size: 10vw;
    font-size: clamp(2rem, 10vw, 6rem);
}

.content .heading > span:first-child {
font-family: 'SPSLRussianSouvenir';
      -webkit-text-stroke:3px rgb(249, 118, 18);
     text-shadow: 3.5px 3.5px 9px rgb(200, 109, 4);
         color:rgba(245, 222, 179, 0.011);
	font-size: 8vw;
	font-size: clamp(2rem, 14vw, 10rem);
}

.content__article {
	height: 0;
        background-color: #032634;
	overflow: hidden;
}

.content__article--open {
	pointer-events: auto;
	padding: 0 0 20vh;
	height: 100%;
	overflow-y: scroll;
}

.content__article .heading {
	text-align: center;
}

.content__text {
	padding: 0 1rem;
	line-height: 1.2;
	margin: 0 auto;
	max-width: 80%;
	will-change: transform;
}
.content__text h4{font-size: 2vw;color:rgb(255, 252, 247) ;margin: auto;text-align: center;	font-family: 'Forum-Regular';
}
.content__text h3{font-size: 2.5vw;color:rgb(252, 127, 1) ;margin:2rem auto;text-align: center;		font-family: 'ofont.ru_A La Russ';
;
}
.content__text p {
	font-family: 'Forum-Regular';

	margin: 1.5rem 0;
        font-size: 1vw;   
  color:rgb(255, 255, 255);
}

.content__text img {
	max-width: 80%;
	margin: 5rem auto;box-shadow:inset 15px 15px 2rem rgb(240, 237, 237);
padding: 15px;border:0.5px solid white;
	display: block;
	border-radius: 50%;
}

.content__back {
	position: absolute;
	top: 2rem;
	left: 2rem;
	opacity: 0;z-index: 999999999;
	cursor: pointer;
}

.content__article--open ~ .content__back {
	pointer-events: auto;
}
@media screen and (min-width: 53em) {
	.item {
		height:;
		display: grid;
		grid-template-areas: 
		'image image image enter' 
		'meta meta meta meta' 
		'... ... excerpt ...';
		grid-template-columns: 1fr auto 560px 1fr;
		grid-template-rows: minmax(420px,40vh) auto auto;
	}
	.item--invert {
		grid-template-areas: 
		'enter image image image' 
		'meta meta meta meta' 
		'... ... excerpt ...';
		grid-template-columns: 1fr auto 360px 1fr;
	}
	.item__imgwrap {
		grid-area: image;margin:2vw auto 2vw auto;
	}
	.item__img {
		width: 100%;
		height: 100%;
	}
	.item__enter {
		align-self: center;
		justify-self: center;
		display: flex;
		grid-area: enter;
		position: relative;
		z-index: 1000;
		max-width: 400px;
		max-height: 400px;
		align-items: center;
		justify-content: center;
	}
	.item__enter-circle {
		pointer-events: none;
		cursor: pointer;
		flex: none;
	}
	.item__meta {
		grid-area: meta;
	}
	.item--invert .item__meta {
		justify-self: end;
		text-align: right;
	}
	.item__excerpt {
		grid-area: excerpt;
	}
	.item__excerpt p {
		margin: 0 0 1.5rem;
	}
	.heading > span {
		justify-content: center;
	}
	.heading--item {
		margin: 0;
		grid-area: 1 / 1 / 2 / 5;
		justify-self: center;
		align-self: center;
		text-align: center;
	}
}

@media (any-pointer:fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 5000;
	}

	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
		opacity: 0.7;
	}

	.no-js .cursor {
		display: none;
	}

}
.divaider{position: relative;width: 10%;height: 1px;background-color:darkorange;text-align: center;margin: auto;}
.divaider_block{position: relative;width: 25px;height: 3px;text-align: center;background-color:#ff6f01;margin: auto;}
.team-box img{width: 20%;}


#blog-grid{
	position:relative;
	text-align:center;
	margin:0 auto;
	width:calc(100% - 50px);
}
#blog-grid:after {
  content: '';
  display: block;
  clear: both;
}
.blog-box-1{
	background-color: #021a2a;
         border:2px solid darkorange;
       

	position:relative;
	float:left;
	width:calc(18% - 50px);
	display:block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0.8rem;
	overflow:hidden;
	padding:0px;
	-webkit-transform: translate3d(1px,0,0);
	transform: translate3d(1px,0,0);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.blog-box-1 .date{
	position:relative;
}
.blog-box-1 h4{
	font-family: 'ofont.ru_A La Russ';
	font-weight:400;
	font-size: 18px;
	line-height:23px;
	letter-spacing:2px;
	text-align:left;
	color:#fff;padding: 1rem;
}
.blog-box-1 .date p span{
	font-size: 42px;
	line-height:42px;
}
.blog-box-1 .date p em{
	margin-top:19px;
	float:right;
	display: block;
}
.blog-box-1 h6{	font-family: 'Forum-Regular';
	font-size: 15px;

	position:relative;
	text-align:left;
	line-height:30px;
	padding: 1rem;
	padding-bottom:10px;
	color:darkorange;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.blog-box-1 h6:hover{
	opacity:.7;
}
.blog-box-1.quote h6:hover{
	opacity:1;
}
.blog-box-1 .p-box{
	position:relative;
	width:100%;
	display:block;
	margin-bottom:30px;
	padding-top:20px;
}
.blog-box-1 .p-box p{
	text-align:left;
	color:#f8f8f8;
}
.blog-box-1 .p-box:after {
  content: '';
  display: block;
  clear: both;
}
.blog-box-1 img{
	width:100%;
	height:auto;
	display:block;
	margin-top:5px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.blog-box-1 img:hover{
}

.blog-box-1 a{
	display:block;
}
a.blog-link{
	position:relative;
	width:130px;
	letter-spacing:2px;
	font-size:15px;
	line-height:23px;
	text-align:left;
	font-weight:700;
	z-index:3;
	display:block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
a.blog-link:hover{
	color:#fff;
}
a.blog-link:after{
	font-family: 'FontAwesome';
	padding-left:15px;
	font-weight:normal;
	content: "\f178";
}

#owl-blog {
	position:relative;
	width:100%;
	margin:0 auto;
	overflow:hidden;
}
#owl-blog .item{
	position:relative;
	width:100%;
	margin:0 auto;
	z-index:2;
	overflow:hidden;
}
#owl-blog .item img{
	width:100%;
	display:block;
}

.blog-box-1.video img{
	margin-top:0;
}
.blog-box-1.video .date{
	margin-bottom:30px;
}



#blog-filter {
	position:relative;
	width:100%;
	text-align: center;
}
#filter {
	position:relative;
	width:100%;
	text-align: center;
}

#filter li {
	display: inline-block;
	text-align: center;
}
#filter:after {
  content: '';
  display: block;
  clear: both;
}
#filter li a {
	position: relative;
	display: inline-block;
	letter-spacing:3px;
	font-family: 'Inconsolata';
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px; 
	margin-bottom:5px;
	text-align: center;
	outline: none;
	color: #646464;
	margin-left:10px;
	margin-right:10px;
	text-decoration: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.header-text h2{font-size: 2.5vw;
color:#ff6f01;text-align: center;
margin:3rem auto;}
.team-box{
	position:relative;
	width:100%;
	margin:0 auto;
}
.team-box img{
	width:80%;
	display:block;
	padding-bottom:30px;
}
.team-box h6{
	text-align:center;color:rgb(255, 247, 247);
	margin:0;
font-size: 24px;
}
.team-box p{
	text-align:center;color:rgb(255, 247, 247);
	margin:0;
font-size: 18px;
}

.team-box .social-team{ 
	position:absolute;
	z-index:10;
	text-align:center;
	margin:0 auto;
	display:block;
	width:100%;
	left:0;
	bottom:100px;
}
.team-box .list-social-team li {
    padding:0; 
    list-style: none;
	text-align:center; 
	width:30px;
	height:30px;
    display: inline-block;
	border-radius:50%;
	background:#fff;
	cursor:pointer;
	margin-left:4px;
	margin-right:4px;
	opacity:0;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.team-box:hover .list-social-team li {
	opacity:1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.team-box .list-social-team li:nth-of-type(1) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.team-box .list-social-team li:nth-of-type(2) {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}
.team-box .list-social-team li:nth-of-type(3) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.team-box .list-social-team li:nth-of-type(4) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.team-box .list-social-team li:nth-of-type(5) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.team-box .list-social-team li:nth-of-type(6) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.team-box .list-social-team li.icon-team a {
	font-family: 'FontAwesome';
	font-size: 11px;
	line-height: 30px;
	width:30px;
	color:#000;
	opacity:1;
	margin:0;
	padding:0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.team-box .list-social-team li:hover{
}
.team-box .list-social-team li:hover.icon-team a{
	color:#fff;
}


.about-box{
	position:relative;
	width:100%;
	margin:0 auto;
	overflow:hidden;
	cursor:pointer;
}
.about-box .icon{
	position:relative;
	width:100%;
	margin:0 auto;
	text-align:center;
	font-family: 'Ionicons';
	font-size:50px;
	line-height:50px;
	margin-bottom:30px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.about-box:hover .icon{
	opacity:0;
	-webkit-transform: translateY(-150%);
	-moz-transform: translateY(-150%);
	-ms-transform: translateY(-150%);
	-o-transform: translateY(-150%);
	transform: translateY(-150%);
}
.about-box h6{
	text-align:center;
	color:rgb(10, 10, 10);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.about-box:hover h6{
	opacity:0;
	-webkit-transform: translateY(-350%);
	-moz-transform: translateY(-350%);
	-ms-transform: translateY(-350%);
	-o-transform: translateY(-350%);
	transform: translateY(-350%);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}
.about-box p{
	position:absolute;
	top:150%;
	left:0;
	width:100%;
	text-align:center;
	color:#0f0e0e;
	z-index:1;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.about-box:hover p{
	top:50%;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}


.cd-single-item {
  position: relative;
  background: #ffffff; }

.cd-slider-wrapper {
  position: relative;
  z-index: 1;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  transition: width 0.4s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: width; }
  @media only screen and (min-width: 1024px) {
    .cd-slider-wrapper {
      width: 50%; }
      .cd-slider-active .cd-slider-wrapper {
        width: 100%; } }

.cd-slider {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .cd-slider::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none; }
  .cd-slider li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; }
    .cd-slider li img {
      display: block;
      width: 100%; }
    .cd-slider li.selected {
      position: relative;
      z-index: 2;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    .cd-slider li.move-left {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%); }
  @media only screen and (min-width: 1024px) {
    .cd-slider {
      cursor: pointer; }
      .cd-slider::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop'; }
      .cd-slider::after {
        /* slider cover layer - to indicate the image is clickable */
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
	background: rgba(0,0,0,.5) url("../images/cd-icon-zoom.svg") no-repeat center center;
        /* size of the icon */
        background-size: 48px;
        opacity: 0;
        z-index: 4;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s; }
      .no-touch .cd-slider:hover::after {
        opacity: 1; }
      .cd-slider-active .cd-slider {
        cursor: auto; }
        .cd-slider-active .cd-slider::after {
          display: none; } }

@media only screen and (min-width: 1024px) {
  .cd-slider-navigation li, .cd-slider-pagination {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    transition: opacity 0.4s 0s, visibility 0s 0.4s; }
    .cd-slider-active .cd-slider-navigation li, .cd-slider-active .cd-slider-pagination {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.4s 0.4s, visibility 0s 0.4s;
      -moz-transition: opacity 0.4s 0.4s, visibility 0s 0.4s;
      transition: opacity 0.4s 0.4s, visibility 0s 0.4s; } }
.cd-slider-navigation li {
  position: absolute;
  z-index: 2;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .cd-slider-navigation li:first-of-type {
    left: 10px; }
  .cd-slider-navigation li:last-of-type {
    right: 10px; }
	
	
	
  .cd-slider-navigation li a {
    display: block;
    width: 48px;
    height: 48px;
    background: url("../images/cd-icon-arrow1.svg") no-repeat center center;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap; }
    .cd-slider-navigation li a.inactive {
      opacity: 0 }
  .cd-slider-navigation li:first-of-type a {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  @media only screen and (min-width: 1024px) {
    .cd-slider-navigation li:first-child {
      left: 30px; }
    .cd-slider-navigation li:last-child {
      right: 30px; } }

	  
	  
.cd-slider-pagination {
  /* you won't see this element in the html but it will be created using jQuery */
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden; }
  .cd-slider-pagination:after {
    content: "";
    display: table;
    clear: both; }
  .touch .cd-slider-pagination {
    visibility: hidden; }
  .cd-slider-pagination li {
    display: inline-block;
    float: left;
    margin: 0 3px; }
    .cd-slider-pagination li.selected a {
      background: #fff; }
  .cd-slider-pagination a {
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
    /* fix a bug in IE9/10 - transparent anchor not clickable */
    background-color: rgba(255, 255, 255, 0);
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap; }

.cd-slider-wrapper .cd-close {
  display: none;
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 30px;
  width: 48px;
  height: 48px;
  background: url("../images/cd-icon-close.svg") no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.4s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.4s;
  transition: transform 0.3s 0s, visibility 0s 0.4s; }
  .cd-slider-active .cd-slider-wrapper .cd-close {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.4s 0.4s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.4s 0.4s;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.4s 0.4s; }
  .no-touch .cd-slider-active .cd-slider-wrapper .cd-close:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  @media only screen and (min-width: 1024px) {
    .cd-slider-wrapper .cd-close {
      display: block; } }

.cd-item-info {
  padding: 50px 10%; }
  .cd-item-info h4, .cd-item-info p {
    max-width: 80%; 
	text-align:left;}
@media only screen and (min-width: 1024px) {
.cd-item-info {
    position: absolute;
    width: 50%;
    top: 50%;
    right: 0;
    padding: 0 7% 0;
    margin: 0; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
} 
}


.cd-item-info .header-text h5{

	text-align:left;
	margin:0;
}
.cd-item-info .header-text h3{
	text-align:left;
	width:80%;color:rgb(0, 0, 0);
	margin:0;
font-size: 34px;
}
.cd-item-info .header-text p{
	font-family: 'Forum-Regular';

	text-align:left;;color:rgb(0, 0, 0);
}
.cd-item-info .header-text p:after{
	position:absolute;
	content:'';
	height:3px;
	background-color:transparent;
	width:30px;
	left:0;
	margin-left:0;
	bottom:0;
	z-index:1;
}
.cd-item-info .small-text {
	text-align:left;
	margin-top:25px;
	font-family: 'Inconsolata';
	font-weight:400;
	font-size: 15px;
	line-height:23px;
	letter-spacing:1px;
	color:#828282;
}

.cd-content p {
  width: 80%;
  max-width: 768px;
  margin: 0 auto;}



@media only screen and (min-width: 1024px) and (max-width: 1199px) {
.cd-item-info .small-text {
	display:none;
}
}

.menu_bar ul li a h3{color:black;}


.tags-block {display: block;color: #000;text-align: left;padding:2rem;z-index: 999;
background-color:rgba(240, 177, 29, 0.513);
bornder:5px solid rgba(241, 165, 34, 0.681);}.tags-block a{color: #000}ection {
  height: 100vh;
  width:100%;
  position:relative;
  margin:0 auto;
}
.cd-section > div {
  height: 100vh;
  width:100%;
  position:relative;
	
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0 auto;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  position: absolute;
  width: 100%;
  z-index: 2;
}
.cd-section:first-of-type > div {
  background-image: url('../images/1.jpg');
}
.cd-section:nth-of-type(2) > div {
  background-image: url('../images/2.jpg');
}
.cd-section:nth-of-type(3) > div {
  background-image: url('../images/3.jpg');
}
.cd-section:nth-of-type(4) > div {
  background-image: url('../images/4.jpg');
}
.cd-section:nth-of-type(5) > div {
  background-image: url('../images/5.jpg');
}
[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 1050px) {
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  border-radius:50%;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-image: url('../images/cd-icon-arrow.svg');
  background-repeat:no-repeat;
  background-position:center center;
  background-size:25px 25px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.cd-vertical-nav a:hover {
  background-color:#000;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}