
main{
    position: relative;
   width: 100%;
    margin: auto;

}
a, b{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
}
b{
    padding: 10px;
}
button{
    padding: 5px 10px;
}

.spotlight img,
.image{
    width: 130%;
   
    content-visibility: auto;
}
.image{
    display: inline-block;
    height: 20vw;
    max-height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

}

.spotlight{
    cursor: pointer;
    display: inline-block;
    margin: 0.1em; 
 width:400px;
height: 250px;
overflow: hidden;
}



label, button{
    display: inline-block;
    padding: 5px 7px;
    margin: 3px 1px;
   
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
}
button{
    border:0;
    outline: 0;
    padding: 8px 18px;
    font-weight: 400;
    font-size: 15px;
   
}
label input{
    float: left;
    margin-right: 7px;
    margin-left: 2px;
}
pre{
    display: inline-block;
    margin: auto;
    text-align: left;
    width: 100%;
    max-width: calc(100vw - 1.7em);
}
pre code.hljs{
    padding: 1em 1.5em;
    border-radius: 10px;
    width: 100%;
    max-width: calc(100vw - 1.7em);
}

a[data-media="node"]{
    width: 29vw;
    max-width: 300px;
    margin: 1vmin 1vmin;
    display: inline-block;
    height: 20vw;
    max-height: 200px;
}
a[data-media="node"] img{
    float: left;
    width: 33.33%;
    margin: 0;
    object-fit: cover;
    height: 100%;
    padding: 0;
}

/*
*/
.spl-like{
            background-size: 23px;
        }
        /* optionally, additional state to toggle the button: */
        .spl-like.on{
        }
        /*
         * Custom Animation:
         * -----------------
         */
        /* custom scene transition (slide effect) */
        .only-this-gallery.show .spl-scene{
            transition: transform 0.2s ease;
        }
        /* custom animation "visible state" (css context by custom classname "only-this-gallery" to apply these animation just on a specific gallery) */
        .only-this-gallery.show .spl-pane > *{
            clip-path: circle(100% at center);
            transition: transform 0.35s ease,
                        opacity 0.65s ease,
                        clip-path 0.8s ease;
        }
        /* custom animation "hidden state" ("custom" is the name of the animation you pass as gallery option) */
        .only-this-gallery .spl-pane .custom {
            clip-path: circle(0px at center) ;
            transition: transform 0.65s ease,
                        opacity 0.65s ease;
        }
        /* animation state when gallery is hidden */
        #spotlight.only-this-gallery{
            clip-path: circle(0px at center);
        }
        /* animation state when gallery will open */
        #spotlight.only-this-gallery.show{
            clip-path: circle(100% at center);
            transition: clip-path 0.65s ease 0.15s;
        }
